@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}


.introduction {
    background: url(/App/img/introduction-background.png);
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.diamond{
    left: 10%;
    background-color: #ffbd39;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    z-index: 999;
}

.diamond .inner {
    transform: rotate(-45deg);
}

.diamond .inner p {
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.diamond:hover {
    background: #333;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.header {
    position: absolute;
    display: -webkit-box -moz-box -ms-flexbox -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    right: 0;
    margin-top: 5%;
    margin-right: 8%;
}

.header a {
    display: block;
    color: #757575;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header a:hover {
    color: #ffbd39;
}

.title {
    display: block;
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10%;
    margin-top: 5%;
    max-width: 50%;
}
.mobileTitle {
    display: block;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif;
    padding-left: 10%;
    margin-top: 5%;
    max-width: 50%;
}
.icon {
    color: #757575;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.icon.default:hover {
    color: #ffbd39;
}

.icon.facebook:hover {
    color: #3B5998;
  }

  .icon.instagram:hover {
    color: #8a3ab9;
  }
  
.icon.twitter:hover {
    color: #1dcaff;
  }
.icon.linkedin:hover {
    color: #007bb5;
  }
.icon.medium:hover {
    color: #02b875;
  }
.icon.spotify:hover {
    color: #1ed760;
  }
.icon.github:hover {
    color: #333;
  }

.footer {
    background: url(/App/img/world-map.png);
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footerContact {
    position: absolute;
    bottom: 15%;
    width: 100%;
}

.footerContact .inner {
    padding: 0 5%;
}

.footerContact .inner .email {
    float: left;
    text-align: left;
} 

.footerContact .inner .social {
    float: right;
    text-align: right;
    margin-top: 4%;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.post{
    box-sizing: border-box;
    margin: 5% 5% 0 10%;
}

.post .date{
    text-align: right;
    padding-right: 4%;
}

.post .date p {
    display: block;
    color: #ffebc3;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.post .body {
    width: 100%;
    padding: 5.25vh 30px;
    background: white;
    border-radius: 15px;
    margin-bottom: 6vh;
}

.post .body a {
    display: block;
    color: #757575;
    font-size: 1.8em;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post .body a:hover{
    color: #ffbd39;
}

.viewAll {
    text-align: center;
}

.viewAll .text{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.viewAll .text a {
    color: #333;
    font-size: 1.25em;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.viewAll .arrow a{
    padding-left: 10px;
    color: #333;
    margin-top: auto;
    margin-bottom: auto;
}