@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700');
* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 300px;
}

a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}


.introduction {
    background: url('/App/img/introduction-background.png');
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.diamond{
    left: 10%;
    background-color: #ffbd39;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    -webkit-box-shadow: 0px 5px 56px -9px rgba(82,82,82,0.83);
    -moz-box-shadow: 0px 5px 56px -9px rgba(82,82,82,0.83);
    box-shadow: 0px 5px 56px -9px rgba(82,82,82,0.83);
    z-index: 999;
}

.diamond .inner {
    transform: rotate(-45deg);
}

.diamond .inner p {
    color: white;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
}

.diamond:hover {
    background: #333;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.header {
    position: absolute;
    display: -webkit-box -moz-box -ms-flexbox -webkit-flex;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    right: 0;
    margin-top: 5%;
    margin-right: 8%;
}

.header a {
    display: block;
    color: #757575;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    margin-top: 10%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header a:hover {
    color: #ffbd39;
}

.title {
    margin-top: 2%;
    margin-left: 10%;
    max-height: 10%;
    margin-bottom: -4%; /* max-height / 2 */
    max-width: 50%;
}

.title h1 {
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
}

.icon {
    color: #757575;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    cursor: pointer;
}

.icon:hover {
    color: #ffbd39;
}

.icon.facebook:hover {
    color: #3B5998;
  }

  .icon.instagram:hover {
    color: #8a3ab9;
  }
  
.icon.twitter:hover {
    color: #1dcaff;
  }
.icon.linkedin:hover {
    color: #007bb5;
  }
.icon.medium:hover {
    color: #02b875;
  }
.icon.spotify:hover {
    color: #1ed760;
  }
.icon.github:hover {
    color: #333;
  }

.footer {
    background: url('/App/img/world-map.png');
    width: 100%;
    height: 100%;
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.footerContact {
    position: absolute;
    bottom: 15%;
    width: 100%;
}

.footerContact .inner {
    padding: 0 5%;
}

.footerContact .inner .email {
    float: left;
    color: #757575;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
} 

.footerContact .inner .email p {
    font-size: 1.75em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: inline-flex;
    cursor: pointer;
    margin-left: 10px;
}

.footerContact .inner .email:hover {
    color: #ffbd39;
}

.footerContact .inner .social {
    float: right;
    text-align: right;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.post{
    margin: 0 5% 0 10%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.post .date{
    text-align: right;
    padding-right: 4%;
}

.post .date p {
    display: block;
    color: #ffebc3;
    font-size: 1.6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.post .body {
    width: 100%;
    padding: 5vh 30px;
    background: white;
    border-radius: 15px;
    margin: 1.5em 0;
}

.post .body a {
    display: block;
    color: #757575;
    font-size: 1.8em;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post .body a:hover{
    color: #ffbd39;
}